.subscribe {
	margin: 0px 0px 12.5rem 0px;
	@media (max-width: 48em) {
		margin: 0px 0px 9.375rem 0px;
	}
	@media (max-width: 30em) {
		margin: 0px 0px 6.25rem 0px;
	}
}
.subscribe__body {
	border-radius: 4px;
	display: flex;
	padding: 2.5rem 4.375rem;
	background: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
	justify-content: space-between;
	gap: 9.375rem;
	align-items: center;
	@media (max-width: 62em) {
		flex-wrap: wrap;
		gap: 2.5rem;
		align-items: center;
	}
	@media (max-width: 48em) {
		padding: 1.875rem 3.125rem;
	}
	@media (max-width: 30em) {
		padding: 1.875rem 0.625rem;
	}
}
.subscribe__title {
	font-size: 2.5rem;
	line-height: 1.45;
	letter-spacing: -0.2px;
	@media (max-width: 30em){
		font-size: 1.75rem;
		font-weight: 600;
		letter-spacing: -0.14px;
	}	
}
.subscribe__form {
	flex: 0 0 22.8125rem;
	@media (max-width: 62em) {
		flex: 1 1 auto;
	}
}
.subscribe__item {
	border-radius: 2px;
	background: rgba(255, 255, 255, 0.07);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.1875rem 0.1875rem 0.1875rem 1rem;
	gap: 0.5rem;
	&::before {
		font-size: 1.5rem;
	}
}
.subscribe__item._hover {
	outline: 1px solid #b0b0b2;
}
.subscribe__input {
	flex: 1 1 auto;
	background-color: transparent;
	color: #fff;
	font-weight: 400;
	line-height: 1.75;
	&::placeholder {
		color: #fff;
		font-weight: 400;
		line-height: 1.75;
	}
	&:focus {
		outline: none;
	}
}
.subscribe__button {
	padding: 1rem;
	background: rgba(255, 255, 255, 0.21);
	transition: all 0.3s ease 0s;
}
.subscribe__error {
	color: red;
	border: 1px solid red;
	padding: 5px;
	margin-top: 10px;
}
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}
.modal__content {
	background: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
	max-width: 80%;
	width: 400px;
	height: 100px;
	text-align: center;
	p {
		margin-bottom: 10px;
	}
	button {
		background-color: #fff;
		color: rgb(0, 0, 0);
		border: none;
		padding: 8px 16px;
		border-radius: 5px;
		cursor: pointer;
		font-family: 'Chakra Petch';
		font-weight: 300;
	}
}